#detailmain {
    #banner {
        .breadcrumb {
            @media screen and (max-width: 768px){
                padding: 7px 10px;
             }
            display: flex;
            align-items: baseline;
            gap: 6px;
            padding-left: 7rem;
            padding-top: 11px;

            h2 {
                a {
                    text-decoration: none;
                    color: #333e48;
                    font-size: 15px;
                    font-family: 'Inter', sans-serif;
                    cursor: pointer;
                    font-weight: 400;

                    &:hover {
                        color: #fed700;
                    }

                    .bi-chevron-right {
                        font-size: 12px;
                    }
                }
            }

            h4 {
                a {
                    text-decoration: none;
                    color: #333e48;
                    font-size: 15px;
                    font-family: 'Inter', sans-serif;
                    cursor: pointer;
                    font-weight: 400;

                    &:hover {
                        color: #fed700;
                    }

                    .bi-chevron-right {
                        font-size: 12px;
                    }
                }
            }

            h3 {
                text-decoration: none;
                color: #333e48;
                font-size: 15px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
            }
        }

    }

    #shopify {
        padding-top: 4.5rem;

        .container {
            .row {
                .featured {
                    p {
                        position: relative;
                        margin: 0;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: "Inter", sans-serif;
                        color: #333;
                        border-bottom: 1px solid #dddddd;
                        padding-bottom: 3px;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -1px;
                            width: 115px;
                            height: 2px;
                            background-color: #fed700;
                        }
                    }

                    .featured1 {
                        display: flex;
                        gap: 17px;
                        padding-top: 26px;

                        img {
                            width: 104px;
                            height: 102px;
                            object-fit: cover;
                            object-position: center;
                            cursor: pointer;
                        }

                        .feat-tittle {
                            h3 {
                                font-size: 14px;
                                font-weight: 700;
                                color: #0062bd;
                                font-family: 'Inter', sans-serif;
                                cursor: pointer;
                                transition: .3s ease-in-out;

                                &:hover {
                                    color: #fed700;
                                }
                            }

                            .feat-price {
                                display: flex;
                                align-items: baseline;
                                gap: 14px;

                                span {
                                    color: #dc3545;
                                    font-size: 14px;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                }

                                del {
                                    color: #848484;
                                    font-size: 14px;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .onsale {
                    p {
                        position: relative;
                        margin: 0;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: "Inter", sans-serif;
                        color: #333;
                        border-bottom: 1px solid #dddddd;
                        padding-bottom: 3px;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -1px;
                            width: 115px;
                            height: 2px;
                            background-color: #fed700;
                        }
                    }

                    .featured1 {
                        display: flex;
                        gap: 17px;
                        padding-top: 26px;

                        img {
                            width: 104px;
                            height: 102px;
                            object-fit: cover;
                            object-position: center;
                            cursor: pointer;
                        }

                        .feat-tittle {
                            h3 {
                                width: 180px;
                                font-size: 14px;
                                font-weight: 700;
                                color: #0062bd;
                                font-family: 'Inter', sans-serif;
                                cursor: pointer;
                                transition: .3s ease-in-out;

                                &:hover {
                                    color: #fed700;
                                }
                            }

                            .feat-price {
                                display: flex;
                                align-items: baseline;
                                gap: 14px;

                                span {
                                    color: #dc3545;
                                    font-size: 14px;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                }

                                del {
                                    color: #848484;
                                    font-size: 14px;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .toprated {
                    p {
                        position: relative;
                        margin: 0;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: "Inter", sans-serif;
                        color: #333;
                        border-bottom: 1px solid #dddddd;
                        padding-bottom: 3px;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -1px;
                            width: 115px;
                            height: 2px;
                            background-color: #fed700;
                        }
                    }

                    .featured1 {
                        display: flex;
                        gap: 17px;
                        padding-top: 26px;

                        img {
                            width: 104px;
                            height: 102px;
                            object-fit: cover;
                            object-position: center;
                            cursor: pointer;
                        }

                        .feat-tittle {
                            h3 {
                                width: 180px;
                                font-size: 14px;
                                font-weight: 700;
                                color: #0062bd;
                                font-family: 'Inter', sans-serif;
                                cursor: pointer;
                                transition: .3s ease-in-out;

                                &:hover {
                                    color: #fed700;
                                }
                            }

                            .feat-price {
                                display: flex;
                                align-items: baseline;
                                gap: 14px;

                                span {
                                    color: #dc3545;
                                    font-size: 14px;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                }

                                del {
                                    color: #848484;
                                    font-size: 14px;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .smartg3 {
                    @media screen and (max-width: 768px){
                       width: 314px;
                    }
                    width: 340px;
                    height: 360px;

                    img {
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #inner {
        .container {
            .row {
                .product-info {
                    p {
                        color: #878787;
                        font-size: 14px;
                        margin-bottom: 3px;
                        font-weight: 400;
                        font-family: 'Inter', sans-serif;
                    }

                    h2 {
                        font-size: 25px;
                        margin: 0 0 13px;
                        padding: 0;
                        font-weight: 400;
                    }

                    .product-star {
                        display: flex;
                        align-items: baseline;
                        gap: 7px;

                        .bi-star-fill {
                            color: #FED700;
                            font-size: 14px;
                        }

                        h6 {
                            color: #878787;
                            font-size: 14px;

                            font-weight: 400;
                            font-family: 'Inter', sans-serif;
                        }
                    }

                    .share-product {
                        display: flex;
                        align-items: baseline;
                        gap: 10px;

                        .facebook {
                            background-color: #3b5998;
                            padding: 4px 8px;
                            border-radius: 3px;

                            a {
                                text-decoration: none;
                                color: #fff;
                                border-radius: 2px;
                                border: none;
                                font-size: 15px;

                                .bi-facebook {}
                            }
                        }

                        .tweeter {
                            background-color: #1da1f2;
                            padding: 4px 8px;
                            border-radius: 3px;

                            a {
                                text-decoration: none;
                                color: #fff;
                                border-radius: 2px;
                                border: none;
                                font-size: 15px;

                                .bi-twitter {}
                            }
                        }
                    }

                    h4 {
                        border-bottom: 1px solid #dddddd;
                        color: #878787;
                        font-size: 14px;
                        padding: 8px 0px 13px 0px;
                        font-weight: 400;
                        font-family: 'Inter', sans-serif;
                    }

                    .short-description {
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                        border-bottom: 1px solid #dddddd;
                        padding-bottom: 7px;

                        .description1 {
                            display: flex;
                            align-items: center;

                            .bi-dot {
                                color: #878787;
                                font-size: 22px;
                            }

                            h5 {
                                color: #878787;
                                font-size: 14px;
                                margin: 0px;
                                font-weight: 400;
                                font-family: "Inter", sans-serif;
                            }
                        }
                    }
                }

                .shopping-info {
                    padding: 26px 32px;
                    border: 1px solid #dddddd;
                    border-radius: 20px;

                    .avaib {
                        border-bottom: 1px solid #dddddd;
                        padding-bottom: 7px;
                        color: #878787;
                        font-size: 14px;
                        margin-bottom: 3px;
                        font-weight: 400;
                        font-family: "Inter", sans-serif;

                        span {
                            color: #ed462f;
                            font-weight: 600;
                        }
                    }

                    h6 {
                        font-size: 33px;
                        padding-top: 11px;
                        font-weight: 400;
                        color: #333;
                        margin-bottom: 4px;
                    }

                    h5 {
                        color: #878787;
                        font-size: 14px;
                        margin-bottom: 3px;
                        font-weight: 400;
                        font-family: "Inter", sans-serif;
                    }

                    h4 {
                        font-size: 17px;
                        padding-top: 11px;
                        font-weight: 400;
                        color: #333;
                        margin-bottom: 4px;
                    }

                    .product-number {
                        display: flex;
                        align-items: baseline;
                        gap: 16px;

                        .number1 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                            margin: 0;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid #878787;
                            border-radius: 50%;
                        }

                        .number2 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                            margin: 0;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid #878787;
                            border-radius: 50%;
                        }

                        .number3 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                            margin: 0;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid #878787;
                            border-radius: 50%;
                        }

                        .number4 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                            margin: 0;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid #878787;
                            border-radius: 50%;
                        }
                    }

                    h3 {
                        font-size: 17px;
                        padding-top: 20px;
                        font-weight: 400;
                        color: #333;
                        margin-bottom: 4px;
                    }

                    .color-type {
                        display: flex;
                        align-items: center;
                        gap: 13px;

                        .blue {
                            width: 34px;
                            height: 34px;
                            background-color: #348bd9;
                            border-radius: 50%;
                            cursor: pointer;

                        }

                        .black {
                            width: 34px;
                            height: 34px;
                            background-color: #333;
                            border-radius: 50%;
                            cursor: pointer;
                            border: 1px solid #fed700;
                        }

                        .red {
                            width: 34px;
                            height: 34px;
                            background-color: #ff0000;
                            border-radius: 50%;
                            cursor: pointer;

                        }

                        .yellow {
                            width: 34px;
                            height: 34px;
                            background-color: #fed700;
                            border-radius: 50%;
                            cursor: pointer;

                        }
                    }

                    h1 {
                        font-size: 17px;
                        padding-top: 20px;
                        font-weight: 400;
                        color: #333;
                        margin-bottom: 4px;
                    }

                    .quality-number {
                        padding: 2px 10px;
                        border-radius: 11px;
                        display: flex;
                        align-items: baseline;
                        border: 1px solid #dddddd;
                        width: 122px;
                        justify-content: space-between;

                        p {
                            font-size: 17px;
                            font-weight: 400;
                            color: #333;
                            margin: 0;
                        }

                        .plus-minus {
                            .bi-plus {
                                background-color: #f5f5f5;
                                border-radius: 50%;
                            }

                            .bi-dash {
                                background-color: #f5f5f5;
                                border-radius: 50%;
                            }
                        }
                    }

                    .shopping-button {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        padding-top: 14px;

                        .unavailable {
                            padding: 10px 50px;
                            background-color: #fed700;
                            font-size: 14px;
                            font-weight: 700;
                            width: 249px;
                            border: none;
                            font-family: 'Inter', sans-serif;
                            color: #fff;
                            border-radius: 25px;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                           
    
                            .bi-cart3 {
                                font-size: 19px;
                            }
                            &:hover{
                                background-color: #333e48;
                                border: 1px solid #333e48;
                                border: transparent;
                            }
                        }
    
                        .buy {
                            padding: 14px 50px;
                            background-color: #333e48;
                            font-size: 14px;
                            font-weight: 700;
                            width: 249px;
                            border: none;
                            font-family: 'Inter', sans-serif;
                            color: #fff;
                            border-radius: 25px;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            &:hover{
                                background-color: #fed700;
                                border: 1px solid #fed700;
                                border: transparent;
                            }
                        }
                    }
      
                    .shoppingend{
                        display: flex;
                        justify-content: space-between;
                        padding-top: 16px;
                        .wish{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #878787;
                            cursor: pointer;
                            &:hover{
                                color: #fed700;
                            }
                            
                            .fa-heart{
                              
                            }
                            p{
                              
                                font-size: 14px;
                                font-weight: 400;
                                font-family: "Inter", sans-serif;
                                margin: 0;
                            }
                        }
                        .compar{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #878787;
                            cursor: pointer;
                            &:hover{
                                color: #fed700;
                            }
                            
                            .fa-code-compare{
                              
                            }
                            p{
                              
                                font-size: 14px;
                                font-weight: 400;
                                font-family: "Inter", sans-serif;
                                margin: 0;
                            }
                        }
                    }                                          
                }
            }
        }
    }
}